<p *ngIf="!phoneRecords"><em>Loading...</em></p>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Current Phone Book</h1>
      <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
        </tr>
        <tr *ngFor="let phonerecord of phoneRecords">
          <td>{{phonerecord.firstName}}</td>
          <td>{{phonerecord.lastName}}</td>
          <td>{{phonerecord.phoneNumber}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-success">Add Record</button>
  </div>
</div>

